@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px
}

/* Track */
::-webkit-scrollbar-track {
    background: #d9d9d9;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #4096FF;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0072FD;
}

/* custom CSS for modal for sign up */
.ant-modal-header .ant-modal-title {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
  }